# 必要なライブラリ一覧（重複なし）
bs4
itertools
lightgbm
math
matplotlib
networkx
numpy
pandas
requests
scipy
sys
time
tqdm
tweepy

# 各ファイルで使用されているライブラリ
## ファイル: libs\get_race_id.py
pandas
sys

## ファイル: libs\name_header.py
sys

## ファイル: libs\post_text.py
sys
tweepy

## ファイル: libs\scraping.py
bs4
pandas
requests
sys
time

## ファイル: src\Datasets\average_time.py
math
numpy
pandas
sys

## ファイル: src\Datasets\horse_peds.py
numpy
pandas
sys
tqdm

## ファイル: src\Datasets\make_calender.py
bs4
requests

## ファイル: src\Datasets\monthly_update.py
sys
time

## ファイル: src\Datasets\past_performance.py
pandas
sys
tqdm

## ファイル: src\Datasets\peds_results.py
numpy
pandas
sys
tqdm

## ファイル: src\Datasets\race_results.py
numpy
pandas
sys
tqdm

## ファイル: src\Datasets\race_returns.py
pandas
sys
tqdm

## ファイル: src\Datasets\weekly_update.py
sys
time

## ファイル: src\PredictionModels\LightGBM\make_dataset.py
numpy
pandas
sys
tqdm

## ファイル: src\PredictionModels\LightGBM\prediction.py
itertools
lightgbm
numpy
pandas
scipy
sys
tqdm

## ファイル: src\RacePrediction\calc_returns.py
math
pandas
sys

## ファイル: src\RacePrediction\day_race_prediction.py
pandas
sys

## ファイル: src\RacePrediction\make_text.py
sys

## ファイル: src\RacePrediction\post_daily_race.py
sys
time

## ファイル: src\RacePrediction\race_card.py
pandas
sys
tqdm

## ファイル: tests\make_text_test.py
sys
time

## ファイル: tests\race_prediction_test.py
sys
time

## ファイル: tools\CallTraceExplorer\CallTraceExplorer.py
matplotlib
networkx
sys

## ファイル: tools\DependencyExplorer\DependencyExplorer.py
matplotlib
networkx

## ファイル: tools\PyDepExtractor\PyDepExtractor.py
sys

