{% extends "base.html" %}

{% block content %}
<h1>{{ year }}年 AI年間成績</h1>

<h2>年間成績</h2>
<ul>
    <li>的中率: データ準備中%</li>
    <li>回収率: データ準備中%</li>
</ul>

<h2>開催別成績</h2>
<ul>
{% for m in meetings %}
    <li>
       <a href="{{ m.url }}">
            {{ m.track | capitalize }} {{ m.times }}回（{{ m.period }}）
        </a>
    </li>
{% endfor %}
</ul>

<h2>年度一覧</h2>
<ul>
{% for y in all_years %}
    <li><a href="{{ y }}.html">{{ y }}年の成績</a></li>
{% endfor %}
</ul>

<p><a href="../index.html">← AI成績メインへ戻る</a></p>

{% endblock %}
